@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply p-1 md:min-h-screen flex items-center bg-indigo-200
}
.wrapper {
  @apply mx-auto w-full max-w-[360px] max-h-[91vh] md:min-h-[650px] md:max-h-[95vh] overflow-y-auto 
  bg-gradient-to-b from-[#3E2172] to-[#15052E] rounded-2xl p-[7.5px] text-white font-Lato
}
.current {
  @apply m-auto px-[25px] bg-gradient-to-b from-[#621085bb] to-[#621085]/[0.25]
  rounded-2xl text-white
}
.slick-slide {
  max-width: 125px;
}
.slick-list {
  padding: 0 20% 0 0 !important;
}
.wrapper::-webkit-scrollbar {
  display: none; /* Chrome */
}
.wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}